.loading {
  position: relative;
  overflow: hidden;
}

.container--filter {
  width: 100%;
  background-color: #5495cf;
  padding: 5px;
  margin-bottom: 10px;
}

.loading--filter {
  width: -webkit-fill-available;
  height: 35px;
  background-color: #dde4e3;
  border-radius: 5px;
  margin: 10px;
  @media (min-width: 600px) {
    height: 90px;
  }
}

.container--feedback{
  width: 100%;
  background-color: #5495cf;
  padding: 5px;
  margin: 20px 0;
}

.loading--feedback {
  width: -webkit-fill-available;
  height: 44px;
  background-color: #dde4e3;
  border-radius: 5px;
  margin: 20px 10px;
}

.container--kpi {
  width: 100%;
  background-color: #5495cf;
  padding: 5px;
  @media (min-width: 600px) {
    width: 35%;
    margin: 20px;
  }
}
.container--all-kpi{
  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}

.loading--kpi {
  width: -webkit-fill-available;
  height: 200px;
  background-color: #dde4e3;
  border-radius: 5px;
  margin: 10px;
}

.loading::before {
  content: '';
  display: block;
  position: absolute;
  left: -150%;
  top: 0;
  height: 100%;
  width: 80%;
  background: linear-gradient(to right, transparent 0%, #DAD8DA 50%, transparent 100%);
  animation: load 1s infinite;
}

@keyframes load {
  from {
    left: -150%;
  }
  to {
    left: 100%;
  }
}
