.feedback-details__left,
.feedback-details__right {
  background-color: #dde4e3;
  margin: 10px;
  padding: 0 10px;
  border-radius: 5px;
}

.feedback-details__left {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 6px 12px;
  @media (min-width: 426px) {
    width: -webkit-fill-available;
  }
  @media (min-width: 769px) {
    width: 45%;
  }
}

.feedback-details__label {
  font-weight: bold;
  text-align: left;
}

.feedback-details__right {
  height: fit-content;
  @media (min-width: 426px) {
    width: -webkit-fill-available;
  }
  @media (min-width: 769px) {
    width: 45%;
    height: -webkit-fill-available;
  }
}

.feedback-details__container {
  background-color: #5495cf;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  @media (min-width: 426px) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media (min-width: 769px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.feedback-details__rating--stars .checked {
  color: orange;
}

.feedback-details__rating--stars .unchecked {
  color: #b6b6b6;
}

.feedback-details__rating {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.feedback-details__sentiment {
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}

.feedback-details__sentiment--pos {
  background-color: #4cbb17;
  border: 1px solid #3ca106;
}

.feedback-details__sentiment--neg {
  background-color: #d21404;
  border: 1px solid #910d03;
  color: white;
}

.feedback-details__sentiment--neu {
  background-color: #ffb619;
  border: 1px solid #d5940a;
}

.feedback-details__back {
  display: flex;
  background-color: #dde4e3;
  width: 6rem;
  height: 20px;
  padding: 15px;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #dde4e3;
  flex-direction: row;
  justify-content: space-between;
  @media (min-width: 426px) {
  }
}

.feedback-details__back:hover {
  background-color: #cccccc;
  border: 1px solid #aeaeae;
  cursor: pointer;
}

.feedback-details__back-img {
  rotate: 180deg;
  width: auto;
  height: 20px;
}

.feedback-details__back-text {
  font-weight: 700;
}

.feedback-details__error-text {
  background-color: #dde4e3;
  margin: 0;
  border-radius: 5px;
  padding: 10px;
}

.feedback-details__error {
  background-color: #5495cf;
  width: 65%;
  margin: 30vh auto;
  padding: 10px;
  font-size: 14px;
  font-style: italic;
  @media (min-width: 426px) {
    width: 60%;
  }
  @media (min-width: 769px) {
    width: 40%;
  }
}
