.feedback-overview__entry {
  width: -webkit-fill-available;
  display: flex;
  background-color: #dde4e3;
  margin: 10px;
  padding: 0 10px;
  border-radius: 5px;
  justify-content: space-around;
  border: 1px solid #dde4e3;
  text-align: left;
}

.feedback-overview__entry:hover {
  background-color: #cccccc;
  border: 1px solid #9f9f9f;
  cursor: pointer;
}

.feedback-overview__table {
  background-color: #5495cf;
  padding: 10px;
  margin-top: 20px;
  @media (min-width: 769px) {
    width: 100%;
  }
}

.feedback-overview__rating--stars .checked {
  color: orange;
}

.feedback-overview__rating--stars .unchecked {
  color: #b6b6b6;
}

.feedback-overview__rating {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.feedback-overview__entry > p {
  width: 200px;
}

.feedback-overview__kpi {
  font-size: 14px;
  margin: 5px 5px 5px 10px;
  @media (min-width: 426px) {
    margin: 10px;
  }
}

.feedback-overview__details {
  display: none;
  @media (min-width: 426px) {
    width: auto;
    height: 25px;
    margin-top: 8px;
    margin-left: 50px;
    margin-right: 30px;
  }
}
.feedback-overview__category {
  margin-left: 5px;
}
